.TrackItem{
    height: auto ;
    width: 70%;
    color: black;
    margin: 20px auto;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 0.5px 1px black;
    background: #93b5b3;
}

.TrackItem h1{
    font-size: 16px;
    margin: 0 10px;
}

.TrackItem span{
    margin-top: 10px;
    margin-bottom: 10px;
}

.TrackItem button{
    margin-bottom: 10px;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.TrackItem button:hover{
    transform: scale(1.1);
}